{% extends '::base.html.twig' %}
{% block title %}Missions{% endblock %}
{% block body -%}
    <div class="container">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title"><strong>Nouvelle mission </strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="well">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            {{ form_errors(form) }}
                            <div class="form-group">
                                {{ form_label(form.titre, "Titre : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                                {{ form_errors(form.titre) }}

                                <div class="col-sm-4">
                                    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.description, "Description : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                                {{ form_errors(form.description) }}

                                <div class="col-sm-4">
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group" align="right">
                                <button class="btn btn-default" data-dismiss="modal">Quitter</button>
                                <input type="submit" value="Créer" class="btn btn-primary">
                            </div>
                            {{ form_rest(form) }}

                            {# Fermeture de la balise <form> du formulaire HTML #}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>Missions</h1>
        
        <div class="row">

            <div class="col-lg-12">
                <div align="right"> 
                    <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Créer une nouvelle mission</a>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('missions_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.titre }}</td>
                                <td>{% if entity.description %}
                                    {{ entity.description }}
                                {% else%}
                                    pas de description
                                    {% endif %}
                                    </td>
                                    <td>
                                    <a href="{{ path('missions_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil" title="modifier la mission"></span></a>

                                    <a href="#" data-toggle="modal" data-target="#effacerModal{{entity.id}}"><span class="glyphicon glyphicon-trash" title="effacer le client"></span></a>

                                    </td>
                                </tr>
                                
                                 <div class="modal fade" id="effacerModal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Effacer la mission {{entity.titre}} ?</h4>
                    </div>
                    <div class="modal-body">
                        <div align="middle">
                            
                        <button class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <a href="javascript:effacerMission('{{entity.id}}');" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Effacer</a>
                       
                            <span id="loadereffacdem{{entity.id}}" style="display: none;"><img src="{{ asset('img/loader.gif') }}" alt="loading" /></span></div>
                    </div>
                   
                </div>
            </div>
        </div>
                            
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    </div>
                    {% endblock %}
{% block javascripts %}
                 {{ parent() }}
                 <script type="text/javascript">
                            function effacerMission(idMission){
                                        $.ajax({
                                                    type: 'post',
                                                    url: Routing.generate('effacerMission',{ 'id' : idMission }),
                                                    beforeSend: function () {

                                                        console.log('effacer mission '+ idMission);
                                                    },
                                                    success: function (data) {
                                                        console.log('so : ' + data.info)
                                                        
                                                    }
                                            });
                                    }
                                    </script>
                {% endblock %}