{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <h1>Mission</h1>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
            </tbody>
        </table>
                <br/><br/>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('missions') }}">
                    retour à la liste
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('missions_edit', { 'id': entity.id }) }}">
                    Modifier
                </a>
            </li>
            <li class="list-group-item">{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
