{% extends '::base.html.twig' %}
{% block title %}Clients{% endblock %}
{% block body -%}
    <div class="container">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title"><strong>Nouveau client</strong> </h4>
                    </div>
                    <div class="modal-body">
                        <div class="well">
                           {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_label(form.nom, "Nom : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                            {{ form_errors(form.nom) }}

                            <div class="col-sm-4">
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                            <div class="form-group">
                            {{ form_label(form.description, "Description : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                            {{ form_errors(form.description) }}

                            <div class="col-sm-4">
                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                            </div>
                                <div align="right">
                                    &nbsp;&nbsp;
                                <button class="btn btn-default" data-dismiss="modal">Quitter</button>
                                <input type="submit" value="Créer" class="btn btn-primary">
                                </div>
                        </div>
                            {{ form_rest(form) }}

                        {# Fermeture de la balise <form> du formulaire HTML #}
                        {{ form_end(form) }}
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <h1>Clients</h1>
        <div align="right">
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Créer un nouveau client</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('clients_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.nom }}</td>
                        <td>{% if entity.description %}
                            {{ entity.description }}
                        {% else%}
                            pas de description
                            {% endif %}
                            </td>
                        <td>

                            
                          <a href="#" data-toggle="modal" data-target="#modifierModal{{entity.id}}"><span class="glyphicon glyphicon-pencil" title="modifier le client"></span></a>

                           <a href="#" data-toggle="modal" data-target="#effacerModal{{entity.id}}"><span class="glyphicon glyphicon-trash" title="effacer le client"></span></a>

                        </td>
                    </tr>
                    
                    <div class="modal fade" id="effacerModal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Effacer le client {{entity.nom}} ?</h4>
                    </div>
                    <div class="modal-body">
                        <div align="middle">
                            
                        <button class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <a href="javascript:effacerClient('{{entity.id}}');" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Effacer</a>
                       
                            <span id="loadereffacdem{{entity.id}}" style="display: none;"><img src="{{ asset('img/loader.gif') }}" alt="loading" /></span></div>
                    </div>
                   
                </div>
            </div>
        </div>
                      <div class="modal fade" id="modifierModal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modifier le client {{entity.nom}} </h4>
                    </div>
                    <div class="modal-body">
                        <div class="well">
                            <div class="form-group">
                           <div class="col-sm-3">
                                Titre :
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="nomClient{{entity.id}}" style="width: 200px ;"  required="required" value="{{entity.nom}}">
                            </div>
                        </div>
                            <br/>
                            <div class="form-group">
                           <div class="col-sm-3">
                                Description :
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="descriptionClient{{entity.id}}" style="width: 200px ;" value="{{entity.description}}">
                            </div>
                        </div>
                            <br/>
                            <div class="form-group" align="right">
                                <button class="btn btn-default" data-dismiss="modal">Quitter</button>
                                <button class="btn btn-primary" onclick="javascript:modifierClient('{{entity.id}}',document.getElementById('nomClient{{entity.id}}'),document.getElementById('descriptionClient{{entity.id}}'),document.getElementById('nomTab{{entity.id}}'),document.getElementById('descriptionTab{{entity.id}}'));"><span class="glyphicon glyphicon-save"></span> Update</button>
                        </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
                {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
{% block javascripts %}
                 {{ parent() }}
                 <script type="text/javascript">
                            function effacerClient(idClient){
                                        $.ajax({
                                                    type: 'post',
                                                    url: Routing.generate('effacerClient',{ 'id' : idClient }),
                                                    beforeSend: function () {

                                                        console.log('effacer client '+ idClient);
                                                    },
                                                    success: function (data) {
                                                        console.log('so : ' + data.info)
                                                        
                                                    }
                                            });
                                    }
                                    function modifierClient(idClient,nomClient,descriptionClient,nomTab,descriptionTab){
                                if(descriptionClient.value == ""){
                                    descriptionClient.value = "pas de description";
                                }
                                        $.ajax({
                                                    type: 'post',
                                                    url: Routing.generate('modifierClient',{ 'id' : idClient,'nom' : nomClient.value, 'description' : descriptionClient.value  }),
                                                    beforeSend: function () {

                                                        console.log('modifier client '+ idClient);
                                                    },
                                                    success: function (data) {
                                                        console.log('so : ' + data.info)
                                                        nomTab.value = data.nom;
                                                        descriptionTab.value = data.description ; 
                                                    }
                                            });
                                    }   
                                    </script>
                {% endblock %}