{% extends '::base.html.twig' %}
{% block title %}Clients{% endblock %}
{% block body -%}
    <div class="container">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title">Nouveau client :</h4>
                    </div>
                    <div class="modal-body">
                        <div class="well">
                           {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_label(form.nom, "Nom : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                            {{ form_errors(form.nom) }}

                            <div class="col-sm-4">
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                            <div class="form-group">
                            {{ form_label(form.description, "Description : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                            {{ form_errors(form.description) }}

                            <div class="col-sm-4">
                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                            </div>
                                <div class="col-sm-4">
                                    &nbsp;&nbsp;
                                <input type="reset" value="Annuler" class="btn btn-default">
                                <input type="submit" value="Créer" class="btn btn-info">
                                </div>
                        </div>
                            {{ form_rest(form) }}

                        {# Fermeture de la balise <form> du formulaire HTML #}
                        {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Quitter</button>
                    </div>
                </div>
            </div>
        </div>
        <h1>Clients</h1>
        <div align="right">
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Créer un nouveau client</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('clients_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.nom }}</td>
                        <td>{% if entity.description %}
                            {{ entity.description }}
                        {% else%}
                            pas de description
                            {% endif %}
                            </td>
                        <td>

                            <a href="{{ path('clients_show', { 'id': entity.id }) }}" style="color: black ;"><span class="glyphicon glyphicon-file"></span></a>
                            <br/>
                          <a href="{{ path('clients_edit', { 'id': entity.id }) }}" style="color: black ;"><span class="glyphicon glyphicon-pencil"></span></a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
