{% extends '::base.html.twig' %}
{% block title %}Clients{% endblock %}
{% block body -%}
    <div class="container">
        <h1>Client</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ entity.nom }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{% if entity.description %}
                        {{ entity.description }}
                        {% else%}
                            no description
                            {% endif %}
                            </td>            </tr>
                    </tbody>
                </table>
                <div align="middle">


                   
                        <a href="{{ path('clients') }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-circle-arrow-left"></span> Retour à la liste
                        </a>

                        <a href="{{ path('clients_edit', { 'id': entity.id }) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Modifier
                        </a>
                        <a href="{{ path('clients_delete', { 'id': entity.id }) }}" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Effacer
                        </a>
                    {#{{ form(delete_form) }}#}
                </div>

            </div>
            {% endblock %}
