{% trans_default_domain 'FOSUserBundle' %}

<div class="col-lg-6">
    <table class="table table-striped">
            <tbody>
                <tr>
                    <th>{{ 'profile.show.username'|trans }}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.show.email'|trans }}</th>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
            
        </table>
                    <div align="right">
                        <a href="{{path('fos_user_change_password')}}" align="right">Change password</a>
                    </div>
</div>