{% extends '::base.html.twig' %}
{% block title %}Demandes{% endblock %}
{% block body -%}
    <div class="container">
        <h1>Demandes</h1>
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title"><strong>Nouvelle demande</strong> </h4>
                    </div>
                    <div class="modal-body">
                        <div class="well">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                        {# Les erreurs générales du formulaire. #}
                        {{ form_errors(form) }}
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.categorie, "Catégorie : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                            {{ form_errors(form.categorie) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.categorie, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.potentielFacturation, "Potentiel facturation : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                            {{ form_errors(form.potentielFacturation) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.potentielFacturation, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                            {% endif %}
                            <div class="form-group margin-bottom-demande">
                                {{ form_label(form.chefDeProjet, "Chef de projet : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                                {{ form_errors(form.chefDeProjet) }}

                                <div class="col-sm-6">
                                    {{ form_widget(form.chefDeProjet, {'attr': {'class': 'form-control form-control-court'}}) }}
                                </div>
                            </div>
                                <div class="form-group margin-bottom-demande">
                            {{ form_label(form.auNomDe, "Demande au nom de : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                            {{ form_errors(form.auNomDe) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.auNomDe, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                                <div class="form-group margin-bottom-demande">
                                {{ form_label(form.client, "Client : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                                {{ form_errors(form.client) }}

                                <div class="col-sm-6">
                                    {{ form_widget(form.client, {'attr': {'class': 'form-control form-control-court'}}) }}
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" data-toggle="modal" data-target="#myModalClient" title="Ajouter un nouveau client">
                                        <div style="font-size:15px ; color: black;">
                                            <span class="glyphicon glyphicon-plus-sign"></span> N.V Client
                                        </div>
                                    </a>
                                </div>
                            </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.sites, "Site : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.sites) }}

                            <div class="col-sm-6" id="divdessites">
                                {{ form_widget(form.sites, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                            <div class="col-sm-3">
                                <a href="#" data-toggle="modal" data-target="#myModalSite" title="Ajouter un nouveau site">
                                        <div style="font-size:15px ; color: black;">
                                            <span class="glyphicon glyphicon-plus-sign"></span> N.V Site
                                        </div>
                                    </a>
                                </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.missionOne, "Mission 1 : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.missionOne) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.missionOne, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.missionTwo, "Mission 2 : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.missionTwo) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.missionTwo, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.missionThree, "Mission 3 : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.missionThree) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.missionThree, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.autres, "Autres : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.autres) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.autres, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.detailsMissionOne, "Détails mission 1 : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.detailsMissionOne) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.detailsMissionOne, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.detailsMissionTwo, "Détails mission 2 : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.detailsMissionTwo) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.detailsMissionTwo, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.detailsMissionThree, "Détails mission 3 : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.detailsMissionThree) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.detailsMissionThree, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.dateLimite, "Date limite : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.dateLimite) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.dateLimite, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.lien, "Liens : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.lien) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.lien, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.niveauUrgence, "Niveau d\'urgence : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.niveauUrgence) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.niveauUrgence, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        {# <div class="form-group">
                            {{ form_label(form.etat, "Etat : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.etat) }}

                            <div class="col-sm-4">
                                {{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>#}
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.confidentialite, "Confidentialité : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.confidentialite) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.confidentialite, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.docGdl, "Documents à envoyer par GDL :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.docGdl) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.docGdl, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group margin-bottom-demande">
                            {{ form_label(form.envoiePrevuLe, "Envoie prévu le : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.envoiePrevuLe) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.envoiePrevuLe, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.mettreEnCopie, "Mettre en copie : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {{ form_errors(form.mettreEnCopie) }}

                            <div class="col-sm-6">
                                {{ form_widget(form.mettreEnCopie, {'attr': {'class': 'form-control form-control-court'}}) }}
                            </div>
                        </div>
                            <div class="form-group margin-bottom-demande" align="right">
                                <button class="btn btn-info" data-dismiss="modal">Quitter</button>
                                <input type="submit" value="Créer" class="btn btn-primary">
                        </div>
                        {{ form_rest(form) }}

                        {# Fermeture de la balise <form> du formulaire HTML #}
                        {{ form_end(form) }}
                    
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
                     <div class="modal fade" id="myModalSite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title"><strong>Nouveau site</strong> </h4>
                    </div>
                    <div class="modal-body">
                        <div class="well">
                           <div class="form-group">
                            <div class="col-sm-3">
                                Client :
                            </div>

                                <div class="col-sm-4" id="divdeclients">
                                <select type="text" id="clientSite" required="required" style="width: 200px ;">
                                </select>
                            </div>
                        </div>
                            <br/>

                        <div class="form-group">
                           <div class="col-sm-3">
                                Nom :
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="nomSite" style="width: 200px ;">
                            </div>
                        </div>
                            <br/>
                            <div class="form-group">
                            <div class="col-sm-3">
                                Adresse :
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="adresseSite" style="width: 200px ;">
                            </div>
                        </div>
                            <br/>
                            <div class="form-group">
                           <div class="col-sm-3">
                                Description :
                            </div> 

                            <div class="col-sm-4">
                                <input type="text" id="descriptionSite" style="width: 200px ;">
                            </div>
                        </div>
                            <br/>
                                                        <div class="form-group" align="right">
                                <button class="btn btn-info" data-dismiss="modal">Quitter</button>
                                <button class="btn btn-primary" onclick="javascript:ajoutAutreSite(document.getElementById('nomSite'),document.getElementById('adresseSite'),document.getElementById('descriptionSite'),document.getElementById('clientSite'))">Créer</button>
                        </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
                          <div class="modal fade" id="myModalClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title">Nouveau Client :</h4>
                    </div>
                    <div class="modal-body">
                        <div class="well">
                           
                        <div class="form-group">
                           <div class="col-sm-3">
                                Nom :
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="nomClient">
                            </div>
                        </div>
                            <br/>
                            <div class="form-group">
                            <div class="col-sm-3">
                                Description :
                            </div>
                            <div class="col-sm-4">
                                <input type="text" id="descriptionClient">
                            </div>
                        </div>
                            <br/>
                            <div align="right">
                                <button class="btn btn-default" data-dismiss="modal">Quitter</button>
                                <button class="btn btn-primary" onclick="javascript:ajoutAutreClient(document.getElementById('nomClient'),document.getElementById('descriptionClient'));">Créer</button>
                        </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="right">
            <a href="{{path('exporterTousDemande')}}" id="exportTousDemande"  class="btn btn-default" title="télécharger la liste des demandes">
                    <span class="glyphicon glyphicon-download-alt" ></span> télécharger tous
                </a>
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-default">
                <span class="glyphicon glyphicon-plus-sign"></span> Créer une nouvelle demande
            </a>
        </div>
        <br/>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th title="numéro de la demande">N &ordm;</th>
                    <th>Demandeur</th>
                    <th>Client</th>
                    <th>Site</th>
                    <th>Date limite</th>
                    <th><div align="middle">Urgence</div></th>
                    <th>Etat</th>
                    <th>Commentaires</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities|reverse %}
                    <tr>
                        <td><a href="{{ path('demandes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.auNomDe }}</td>
                        <td>{{ entity.sites.clients }}</td>
                        <td>{{ entity.sites }}</td>
                        <td>{% if entity.dateLimite %}{{ entity.dateLimite|date('Y-m-d H:i') }}{% endif %}</td>
                        
                        {#<td>{% for fichier in entity.fichiers %}    
                            {{loop.length}}
                        {% endfor %} fichiers</td>#}
                        <td>{% if entity.niveauUrgence == 'ordinaire' %} 
                            <div align="middle"><img src="{{ asset('img/alertVerte.png') }}" alt="urgence" width="23" height="23" /> </div>
                            {% elseif entity.niveauUrgence == 'urgente' %}
                                <div align="middle"><img src="{{ asset('img/alertOrange.png') }}" alt="urgence" width="23" height="23" /> </div>
                              {% elseif entity.niveauUrgence == 'critique' %}
                                  <div align="middle"><img src="{{ asset('img/alertRouge.png') }}" alt="urgence" width="23" height="23" /> </div>
                                  {% endif %}
                                
                            </td>
                    <td>{{ entity.etat }}</td>
                    {#<td>{% if entity.datePosteDemande %}{{ entity.datePosteDemande|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    <td>{% for key,comm in nombrecomment %}
                                        {% if key == entity.id %}
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            {% if comm == 0 %}
                                            <a href="{{ path('demandes_show_comments', { 'id': entity.id }) }}" style="color: black;" title="Pas de nouveaux commentaires">
                                                {{ comm }} <span class="glyphicon glyphicon-comment"></span>
                                            </a>
                                            {% else %}
                                                <a href="{{ path('demandes_show_comments', { 'id': entity.id }) }}" style="color: red;" title="Nouveaux commentaires">
                                                {{ comm }} <span class="glyphicon glyphicon-comment"></span>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %} </td>
                    <td>
                        
                                <a href="{{ path('demandes_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil" title="modifier la demande"></span></a>
                                
                                <a href="#" data-toggle="modal" data-target="#effacerModal{{entity.id}}"><span class="glyphicon glyphicon-trash" title="effacer la demande"></span></a>
                                
                                <a id="exportDemande{{ entity.id}}" onclick="exporterDemande('{{ entity.id}}')"> <span class="glyphicon glyphicon-download-alt" title="télécharger la demande"></span></a>
                          
                    </td>
                </tr>
                
                <div class="modal fade" id="effacerModal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Effacer la demande de {{entity.client}} ?</h4>
                    </div>
                    <div class="modal-body">
                        <div align="middle">
                            
                        <button class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <a href="javascript:effacerDemande('{{entity.id}}');" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Effacer</a>
                       
                            <span id="loadereffacdem{{entity.id}}" style="display: none;"><img src="{{ asset('img/loader.gif') }}" alt="loading" /></span></div>
                    </div>
                   
                </div>
            </div>
        </div>
                                
                {% endfor %}
                </tbody>
            </table>

            
        </div>
        {% endblock %}
            {% block javascripts %}
                 {{ parent() }}
                 <script type="text/javascript">
                     
                         $(document).ready(function (){
                           
                                        $.ajax({
                                                    type: 'post',
                                                    url: Routing.generate('chargerClients'),
                                                    beforeSend: function () {

                                                        console.log('debut chargement client');
                                                    },
                                                    success: function (data) {
                                                        
                                                        if(data.listeClients.length === 0){
                                                            $('#clientSite').append('<option value="0">aucun client disponible</option>');
                                                        }else {
                                                        $.each(data.listeClients,function (){
                                                            var client = JSON.parse(this);
                                                            $('#clientSite').append('<option value="'+ client.id +'">'+ client.nom +'</option>');
                                                        
                                                        })
                                                    }
                                                     }
                                            });
                                    
                    });
                        $(function(){
                            $('#gestion_gestionbundle_Demandes_client').change(function(){
                                chargerSites($(this).val());
                            });
                        });
                       
                       function chargerSites(idClient){
                                        $.ajax({
                                                    type: 'post',
                                                    url: Routing.generate('chargerSites',{ 'id' : idClient }),
                                                    beforeSend: function () {

                                                        console.log('debut chargement sites');
                                                    },
                                                    success: function (data) {
                                                        $('#gestion_gestionbundle_Demandes_sites').each(function (){
                                                            $(this).remove();
                                                        })
                                                        $('#divdessites').append('<select id="gestion_gestionbundle_Demandes_sites" name="gestion_gestionbundle_Demandes[sites]" required="required" class="form-control"></select>')
                                                        if(data.listeSites.length === 0){
                                                            $('#gestion_gestionbundle_Demandes_sites').append('<option value="0">aucun site disponible</option>');
                                                        }else {
                                                        $.each(data.listeSites,function (){
                                                            var site = JSON.parse(this);
                                                            $('#gestion_gestionbundle_Demandes_sites').append('<option value="'+ site.id +'">'+ site.nom +'</option>');
                                                        
                                                        })
                                                    }
                                                     }
                                            });
                                    }
                                    function ajoutAutreClient(nom,description){
                                        $.ajax({
                                                    type: 'post',
                                                    url: Routing.generate('ajoutAutreClient',{ 'nom' : nom.value , 'description' : description.value }),
                                                    beforeSend: function () {

                                                        console.log('ajout nouveau client'+nom.value);
                                                    },
                                                    success: function (data) {
                                                        nom.value = "";
                                                        description.value = "";
                                                        $('#gestion_gestionbundle_Demandes_client').append('<option value="'+data.id+'">'+data.nom+'</option>')
                                                        $('#clientSite').append('<option value="'+data.id+'">'+data.nom+'</option>')
                                                        
                                                    }
                                            });
                                    }
                                    function ajoutAutreSite(nom,adresse,description,client){
                                        $.ajax({
                                                    type: 'post',
                                                    url: Routing.generate('ajoutAutreSite',{ 'nom' : nom.value ,'adresse' : adresse.value, 'description' : description.value, 'client' : $(client).val() }),
                                                    beforeSend: function () {

                                                        console.log('ajout nouveau site'+nom.value);
                                                    },
                                                    success: function (data) {
                                                        nom.value = "";
                                                        adresse.value  = "";
                                                        description.value = "";
                                                            $('#gestion_gestionbundle_Demandes_sites').append('<option value="'+data.id+'">'+data.nom+'</option>')
                                                        console.log('chargement sites reussi '+data.id);
                                                    }
                                            });
                                    }
                                    function effacerDemande(idDemande){
                                        $.ajax({
                                                    type: 'post',
                                                    url: Routing.generate('effacerDemande',{ 'id' : idDemande }),
                                                    beforeSend: function () {

                                                        console.log('effacer demande '+ idDemande);
                                                    },
                                                    success: function (data) {
                                                        console.log('so : ' + data.info)
                                                        
                                                    }
                                            });
                                    }
                                    </script>
                {% endblock %}