{% extends '::base.html.twig' %}
{% block title %}Catégories{% endblock %}
{% block body -%}
    <div class="container">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-wide">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title"><strong>Nouvelle catégorie</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="well">
                           {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_label(form.titre, "Titre : ", {'label_attr': {'class': 'col-sm-3  control-label'}}) }}

                            {{ form_errors(form.titre) }}

                            <div class="col-sm-4">
                                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                            
                            <div class="form-group">
                                <div class="col-sm-3">
                            </div>
                                <div align="right">
                                    &nbsp;&nbsp;
                                <button class="btn btn-default" data-dismiss="modal">Quitter</button>
                                <input type="submit" value="Créer" class="btn btn-info">
                                </div>
                        </div>
                            {{ form_rest(form) }}

                        {# Fermeture de la balise <form> du formulaire HTML #}
                        {{ form_end(form) }}
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    <h1>Catégories</h1>
    <div align="right">
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Créer une nouvelle catégorie</a>
        </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('categories_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titre }}</td>
                <td>
                
                        <a href="{{ path('categories_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-file" title="voir la catégorie"></span></a>
                    
                        <a href="{{ path('categories_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil" title="modifier la catégorie"></span></a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    {% endblock %}
