{% extends '::base.html.twig' %}
{% block title %}Sites{% endblock %}
{% block body -%}
    <div class="container">
        <div class="modal fade" id="effacerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title">Effacer ce site ?</h4>
                    </div>
                    <div class="modal-body">
                        <div align="middle">
                            {{ form_start(delete_form, {'attr': {'class': 'form-horizontal'}}) }}
                        {{ form_errors(delete_form) }}
                        <button class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="Effacer" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Effacer</button>
                        {{ form_end(delete_form) }}
                            <span id="loadereffacdem{{entity.id}}" style="display: none;"><img src="{{ asset('img/loader.gif') }}" alt="loading" /></span></div>
                    </div>
                   
                </div>
            </div>
        </div>
        <h1>Sites</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ entity.nom }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ entity.adresse }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{% if entity.description %}
                            {{ entity.description }}
                        {% else%}
                           pas de description
                            {% endif %}
                            </td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td>{{ entity.clients }}</td>
                </tr>
            </tbody>
        </table>
                             <div align="middle">
                                <a href="{{ path('sites') }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-circle-arrow-left"></span> Retour à la liste
                        </a>
                 
                        <a href="{{ path('sites_edit', { 'id': entity.id }) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                                <a href="#" data-toggle="modal" data-target="#effacerModal" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Effacer
                    </a>
                    {#{{ form(delete_form) }}#}
                     </div>
       
    </div>
{% endblock %}
